@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Siqian Yu 200286902
    Date Modified: 08-05-2016
    File Description: This is the food details page user get redirected from foods/index.cshtml once user clicked on any item.
*@
@model EcommP2.Models.Food

@{
    ViewBag.Title = "Details";
}

<section id="home" class="shopping-box">
    <div class="container">
        <div class="row transbox">
            <div class="col-md-12 col-sm-12">
                <table class="table">
                    <tr>
                        <td rowspan="5"><img src="~/Assests/img/@Html.DisplayFor(model => model.type)/@Html.DisplayFor(model => model.image)" height="400" width="400" /></td>
                    </tr>
                    <tr><td><h2>@Html.DisplayFor(model => model.name)</h2></td></tr>
                    <tr><td><b> Description :</b> @Html.DisplayFor(model => model.description)</td></tr>
                    <tr><td>Price : $@Html.DisplayFor(model => model.price)</td></tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.foodID }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        </td>
                        <td><p class="btn btn-default">@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.foodID }, "")</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>